# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/npm-debug.log*
frontend/yarn-error.log
frontend/yarn.lock
frontend/package-lock.json
frontend/.idea
frontend/*/.umi
frontend/.vscode
frontend/.history
# production
frontend/dist
frontend/*/.umi-production

# misc
frontend/.DS_Store

# umi
frontend/.umi
frontend/.umi-production

backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar
### STS ###
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
### NetBeans ###
backend/nbproject/private/
backend/build/
backend/gradle/
backend/*/build/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/nb-gradle/
backend/dependency-reduced-pom.xml
### Gradle ###
backend/.gradle/
#gradle/
backend/gradlew
backend/gradlew.bat
### log ###
backend/logs/
.idea/
SDH20260603003/
.claude/
.agents/
.workbuddy
.history/
*.lock
node_modules/