html,
body,
#sei-online-code-web {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family:
    AlibabaSans,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    'Noto Sans CJK SC',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.colorWeak {
  filter: invert(80%);
}

.ead-layout {
  overflow-x: auto;
  min-height: 100%;
}

canvas {
  display: block;
}

body {
  margin: 0;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
li {
  list-style: none;
}

@media (max-width: 768px) {
  .ead-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}
